body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background: linear-gradient(-30grad, rgb(34, 33, 33), rgb(53, 53, 53));
}

body li {
  list-style: none;
}
body a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(-30grad, rgb(34, 33, 33), rgb(61, 59, 59));
  font-size: 20px;
}
#main-logo {
  margin: auto 30px;
  font-weight: bold;
}
header a {
  color: orange;
}

header ul {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

header li {
  padding: 20px;
}

main {
  text-align: center;
}

h1 {
  color: orange;
  font-size: 40px;
}
main ul {
  width: 1200px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
main li {
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}
li img {
  width: 100%;
  height: 65%;
}
li p {
  font-weight: bold;
  font-size: 25px;
}

main a {
  background-color: orange;
  color: white;
  padding: 12px;
  border-radius: 5px;
}
